@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

// General styling
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial, sans-serif;
  box-sizing: border-box;
}

a:focus, button:focus {
  outline:0 !important;
}

body {
	position: relative;
	margin: 0 auto;
  background: map-get($colors, loaderSmall);
}

li {
  list-style: none;
}

.loaderSmall {
  background: map-get($colors, loaderSmall);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  min-height: 100vh;
}
